<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Forge.AutoUpdate.Scheduler.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUpdateDistributor" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:61274/UpdateDistributor.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUpdateDistributor"
          contract="DistributionService.IUpdateDistributor" name="BasicHttpBinding_IUpdateDistributor" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Forge.AutoUpdate.Scheduler.Properties.Settings>
      <setting name="DownloadFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="ProductName" serializeAs="String">
        <value />
      </setting>
    </Forge.AutoUpdate.Scheduler.Properties.Settings>
  </applicationSettings>
</configuration>